<%= form_for(@restaurant, :html => { multipart: true}) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation" class="card blue-grey darken-1">
		<div class="card-content white-text">
		  <h4><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h4>

		  <ul>
		  <% @restaurant.errors.full_messages.each do |message| %>
			<li><%= message %></li>
		  <% end %>
		  </ul>
		</div>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :website %><br>
    <%= f.text_field :website, placeholder: "http://www.super.com/" %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions center">
    <%= f.submit :class => 'waves-effect waves-light btn' %>
  </div>
<% end %>
