<div class="section">
	<div class = "row">
		<h2 class="center">Restaurant's Profile</h2>

		<div class = "col s12 m6">
			<div class="center card-image">
				<%= image_tag @restaurant.image_url %>
			</div>
			<h4><%= @restaurant.name %></h4>
			
			<div class="star-rating" data-score = <%= @avg_rating %> ></div>
			<%= "#{@reviews.length} reviews" %>
			
			<p>
			  <strong>Address:</strong>
			  <%= @restaurant.address %>
			</p>

			<p>
			  <strong>Website:</strong>
			  <%= link_to @restaurant.website, "http://#{@restaurant.website}" %>
			</p>
			
		</div>

		<div class = "col s12 m6">
			<div class="card-image">
				<iframe
					width="450"
					height="400"
					frameborder="0" style ="border:0"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAkZy-_SBf4MOP4iNJzdYWImPV-Ng6iSss&q=<%= @restaurant.address.parameterize %>">
				</iframe>
			</div>
		</div>
	</div>
</div>
	<div class="center">
		<%= link_to 'Edit', edit_restaurant_path(@restaurant), :class => 'waves-effect waves-light btn' %> |
		<%= link_to 'Back', restaurants_path, :class => 'waves-effect waves-light btn' %>
	</div>


<div class="">
    <h2 class="center">Restaurant's Reviews</h2>
</div>

<div class="center">
	<%= link_to "Write a Review", new_restaurant_review_path(@restaurant), class: "btn"%>
</div>

<div class="section">
	<div class="row">
		<% if @reviews.blank? %>
			<h5> No reviews yet, be the first to write one!</h5>		
			<% else %>
			<table class="table_th_width striped">
			<thead>
				<tr>
					<th class="th_width"></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
			  <% @reviews.each do |review| %>
				<tr>
					<td class="comment_align">
						<h5><%= "#{review.user.first_name.capitalize} #{review.user.last_name.capitalize[0]}." %></h5>
						<%= review.created_at.strftime("%-m/%-d/%y") %>
					</td>
					<td>
						<div class="star-rating" data-score = <%= review.rating %> ></div>
						<p><%= h(review.comment).gsub(/\n/, '<br/>').html_safe %></p>
						
						<% if user_signed_in? %>
							<% if (review.user == current_user) || (current_user.admin?) %>
								<%= link_to "Edit", edit_restaurant_review_path(@restaurant, review) %>
								<%= link_to "Delete", restaurant_review_path(@restaurant, review), method: :delete %>
							<% end %>
						<% end %>
					</td>
				</tr>
			  <% end %>
			</tbody>
		  </table>
		<% end %>	
	</div>
</div>

<script>
	$('.star-rating').raty({
		path: 'https://dl.dropboxusercontent.com/u/39722693',
		readOnly: true,
		score: function(){
			return $(this).attr('data-score');
		}
	});
</script>
